        body{
            background-color: black;
            justify-content: center;
            display: flex;
            
        }
        .box{
            height: 300px;
            width: 300px;
            background-color: lightcoral;
            margin: 100px;
            padding: 10px;
            overflow : hidden;
            display: flex;
            justify-content: center;
        }
        .box1{
            height: 250px;
            width: 250px;
            background-color: rgb(232, 74, 192);
            margin: 20px;
            padding: 10px;
            display: flex;
            justify-content: center;
            /* overflow: auto; */
        }
        .box2{
            height: 200px;
            width: 200px;
            background-color: rgb(218, 240, 128);
            margin: 20px;
            padding: 10px;
            display: flex;
            justify-content: center;
        }
        .box3{
            height: 150px;
            width: 150px;
            background-color: rgb(128, 225, 240);
            margin :20px;
            padding: 10px;
            display: flex;
            justify-content: center;
            
        }