.box {
            height: 200px;
            width: 90%;
            border: 2px solid black;
            background-color: rgb(255, 255, 255);
            
            justify-content: center;
        }

        .header {
            display: block;
            padding: 10px;
            height: 60px;
            width: 97.8%;
            background-color: rgb(207, 205, 205);
            color: black;
            text-align: center;
            
        }

        .header span {
            display: inline;
            color: red;
        }

        .inline-block li {
            display: inline-block;
            margin-right: 10px;
        }

        .inline-block a {
            text-decoration: none;
            padding: 5px;
            background: rgb(108, 168, 233);
            color: black;
        }

        .lower-block a {
            text-decoration: none;
            padding: 5px;
            background: rgb(20, 244, 69);
            color: black;
        }

        .lower-block li {
            display: inline-block;
            margin-right: 10px;
        }